<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Latest compiled and minified CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro|Berkshire+Swash|VT323">
  <link rel="stylesheet" type="text/css" href="../css/app.css">


  <title>Cards for humanity&nbsp|&nbspPlay Game</title>
</head>

<body>
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top" style="color: red;">CARDS FOR HUMANITY</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="/">ABANDON GAME</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <section id="main-banner" class="container" ng-controller="GameController">
    <div class="modal fade" id="myModal" style="background-color:#381c5f9c" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:rgba(255, 255, 255, 0.568)">
          <div class="modal-header text-center">
            <h2 class="modal-title" style="font-weight:900;font-size:25px;color: #381c5f" id="myModalLabel">You are the Almighty Card Czar</h2>
            <h3 class="shuffle" style="font-weight:900;font-size:20px;color: #381c5f">Click a card</h3>
          </div>
          <div class="row">
            <div class="col-sm-offset-1">
              <div class="modal-body">
                <button style="background-color:rgba(255, 255, 255, 0.226); margin:5px">
                  <img ng-click="startNextGameRound()" ng-src="../img/card-1.jpeg" alt="card-image" class='animated flipInX'>
                </button>
                <button style="background-color:rgba(255, 255, 255, 0.226);margin:5px">
                  <img ng-click="startNextGameRound()" ng-src="../img/card-1.jpeg" alt="card-image">
                </button>
                <button style="background-color:rgba(255, 255, 255, 0.226);margin:5px">
                  <img ng-click="startNextGameRound()" ng-src="../img/card-1.jpeg" alt="card-image">
                </button>
                <button style="background-color:rgba(255, 255, 255, 0.226);margin:5px">
                  <img ng-click="startNextGameRound()" ng-src="../img/card-1.jpeg" alt="card-image">
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="game-screen row">
      <br/>
      <div class="col-sm-12 col-lg-9">
        <div class="game-header row">
          <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 " id="timer-container">
            <timer></timer>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9 game">
            <question></question>



            <div class="row game-row">
              <div class="cards">
                <div class="col-lg-12 game longspan info-container">
                  <answers></answers>
                </div>
              </div>
               
            </div>
            <chat></chat>

          </div>


        </div>
      </div>
      <div id="social-bar-container" class="col-md-3 col-sm-3 col-xs-3 col-lg-2 text-center" style="margin:3px;">
        <player></player>
      </div>




    </div>
    <div class="col-sm-12 col-lg-3">
    </div>
  </div> 
  <div class="modal fade" id="gameFilledUp" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header mod-title">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Game FIlled Up</h4>
          </div>
          <div class="modal-body">
            <p>Maximum number of players reached</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>
  <div id="startModal" class="modal fade" role="dialog"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mod-title">
          <h4 class="modal-title">GAME CONFIRMATION</h4>
        </div>
        <div class="modal-body mod-body">
          <div class="row">
            <div class="col-md-12" id="modal-text">
              <p>Are you sure you want to start the game? </p>
            </div>
            <div class="col-md-3 col-md-offset-3">
              <button ng-click="startGame()" data-dismiss="modal" type="button" id="mod-btn" class="btn btn-block mod-btn">
                Yes, Start!
              </button>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-block mod-btn" id="mod-btn" data-dismiss="modal">
                No, Return!
              </button>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div id="few-players-modal" class="modal fade" role="dialog"> 
    <div class="modal-dialog"> 
      <div class="modal-content"> 
        <div class="modal-header mod-title"> 
          <h4 class="modal-title">GAME NOTIFICATION</h4> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div> 
        <div class="modal-body" id="modal-text"> 
          <p>The minimum number of players to play this game is three (3)!<br /> Invite more friends</p> 
        </div> 
      </div> 
 
    </div> 
</div>

  </section>
  <div ng-controller="InviteUserController">
    <div id="invite-players-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header" style = "background-color:#090538;color:white;">
                          <h4 class="modal-title" style="display:inline-block;">Invite Players</h4>
                          <button type="button"  class="close btn-danger"  style="display:inline-block;" data-dismiss="modal" style ="color:white !important;">Close</button>
                        </div>
                        <div class="modal-body">
                          <div class="search-box">
                            <div class="row">
                              <p ng-show = "">{{notFound}}</p>
                              <div class="col-md-8">
                                  <input class="userInput" ng-model="username" style = "color:black"ng-focus="onElementFocus()"  placeholder="Player's Username">
                                  <p ng-show="userNotFound" style="color:red" id="userNotFound"> User not found </p>
                             </div>
                             <div class="col-md-4">
                                  <a class="btn btn-responsive btn-block" style = "color:white; background-color:#F05F40;" ng-click="searchUser()" id="name">Search</a>
                              </div>
                            </div>
                            <div id ="searchControl">
                              <div class="row" >
                                <div class="col-md-12">
                                    <p ng-show='resultFound'  id="searchResult">{{searchResult}}</p>
                                </div>
                              </div>
                              <div class="row invite-btn-row">
                                  <div class="col-md-12">
                                      <button class="btn btn-block" style ="background-color:#090538; color:white;"  ng-click="inviteUsers(email)" data-dismiss="modal" id="inviteUserButton">Invite</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                
                   </div>
                  </div>
            </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>