</script>
<div id="app-container" ng-controller="GameController">
  <div id="menu-container">
    <div id="logo">
      <span id="first-word">Cards</span>
      <span id="second-word"> for</span>
      <span id="third-word">Humanity</span>
    </div>
    <div id = 'abandon-game-button' ng-click="abandonGame()">
        Abandon Game
    </div>
        <span id="tweet-container">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div><div id="few-players-modal" class="modal fade" role="dialog"> 
    <div class="modal-dialog"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Game Notification</h4> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div> 
        <div class="modal-body"> 
          <p>The minimum number of players to play this game is three (3)!<br /> Invite more friends</p> 
        </div> 
      </div> 
 
    </div> 
  </div>
  <div id="startModal" class="modal fade" role="dialog"> 
    <div class="modal-dialog"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Game Confirmation</h4> 
        </div> 
        <div class="modal-body"> 
          <div class="row"> 
            <div class="col-md-12"> 
              <p>Are you sure you want to start the game? </p> 
            </div> 
            <div class="col-md-3 col-md-offset-3"> 
              <button  
                ng-click="startGame()"  
                data-dismiss="modal"  
                type="button"  
                class="btn btn-block btn-success" 
              > 
                Yes, Start! 
              </button> 
            </div> 
            <div class="col-md-3"> 
              <button  
                type="button"  
                class="btn btn-block btn-danger"  
                data-dismiss="modal" 
              > 
                No, Return! 
              </button> 
            </div> 
          </div> 
        </div> 
      </div> 
 
    </div> 
  </div> 

  <div class="modal fade" id="gameFilledUp" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Game FIlled Up</h4>
        </div>
        <div class="modal-body">
          <p>Maximum number of players reached</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
