<div id="game-container-inner" class="row">
  <div class="cards fixed-height-230 text-center cfh-header">
    <div style="padding:40px; letter-spacing: 2px;" ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'">
      <span></span>
    </div>
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you
        feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde
        it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>

    <div class="card-content" ng-show="game.state === 'awaiting players'">
      <div class="col-sm-12 text-center" id="finding-players">
        <h1 class="center-aligned">
          FINDING PLAYERS
        </h1>
      </div>
      <div class="col-sm-12 text-center">
        <img src="../img/loader.gif" />
      </div>
      <div class="col-sm-2 col-md-2 text-center" id="player-count">
        <h2>{{ game.players.length }}/12</h2>
        <p> PLAYERS</p>
      </div>
      <div class="col-sm-12 col-md-9 left-align">
        </br>
        <p>
          <button type="" id="button">START GAME</button>
          &nbsp
          <button type="" id="button">INVITE FRIENDS</button>
        </p>
        </br>
        </br>
      </div>

    </div>
  </div>
  <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

</div>
</div>