<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro|Berkshire+Swash|VT323">    
 <link rel="stylesheet" type="text/css" href="../css/index.css">
 <link rel="stylesheet" href="../css/styles.css">
 <link rel="stylesheet" href="../css/login-style.css">
 <title>Cards for humanity&nbsp|&nbspLogin</title>
  </head>
  <body>
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand page-scroll" href="#page-top" style="color: red;">CARDS FOR HUMANITY</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                       <li>
                          <a class="page-scroll" href="#!">HOME</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#!/signup">SIGN UP</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
      
      <section id="main-banner">
        <div>
          <div class="wrapper">
            <div class="container">
            <h1>SIGN IN</h1>
            
            <form class="form" ng-controller="AuthenticationController">
                <div class="control-group">
                    <label for="email" class="control-label"></label>
                    <div class="controls">
                        <input type="text" placeholder="Email" ng-model="user.email">
                    </div>
                </div>
                <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[0] }}</p>
              <div class="control-group">
                  <label for="password" class="control-label"></label>
                  <div class="controls">
                    <input type="password" placeholder="Password" ng-model="user.password">
                  </div>
              </div>
              <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[1] }}</p>
              <div>
                <button type="submit" id="login-button" ng-click="login()">SIGN IN</button>
              </div>
            </form>
          </div>
          
          <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        </div>
        <footer class="footer fixed-bottom">
            <p class="text-center">&copy 2018 CARDS FOR HUMANITY Inc</p>
          </footer>
      </section>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
  </html>