<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Latest compiled and minified CSS -->

<!-- Optional theme -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro|Berkshire+Swash|VT323"><link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
 <link rel="stylesheet" type="text/css" href="../css/index.css">
 <link rel="stylesheet" href="../css/styles.css">
 <link rel="stylesheet" href="../css/register-style.css">
 <title>Cards for humanity&nbsp|&nbspRegister</title>
  </head>
  <body>
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand page-scroll" href="#!">CARDS FOR HUMANITY</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                       <li>
                          <a class="page-scroll" href="#!">HOME</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#!/signin">SIGN IN</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
      
      <section id="main-banner">
          <div class="wrapper">
            <div class="container">
            <div id="landing-logo">
                <h2 id="slogan">Sign up now with:</h2>
                <div>
                  <a href="./login.html"><img src="../img/icons/facebook.jpg" height='30' alt='facebook'class="login-item"></a>
                  <a href="/auth/twitter"><img height='30' alt='twitter' class="login-item" src="./img/icons/twitter.jpg"></a>
                  <a href="/auth/google"><img height='30' alt='google'class="login-item" src="./img/icons/google.png"></a>
                </div>
                <h2 id="create">Or fill the form:</h2>
            
            <form class="form-horizontal" data-toggle="validator" role="form" ng-controller="AuthenticationController">
                <div class="control-group">
                    <label for="name" class="control-label"></label>
                    <div class="controls">
                        <input type="text" placeholder="Name" ng-model="user.name">
                    </div>
                </div>
                <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[0] }}</p>
                <div class="control-group">
                    <label for="email" class="control-label"></label>
                    <div class="controls">
                        <input type="email" placeholder="Email" ng-model="user.email">
                    </div>
                </div>
                <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[1] }}</p>
                <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[3] }}</p>
              <div class="control-group">
                  <label for="password" class="control-label pass"></label>
                  <div class="controls">
                    <input type="password" placeholder="Password" ng-model="user.password">
                  </div>
              </div>
              <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[2] }}</p>
              <div class="control-group">
                <div class="controls">
              <button type="submit" id="login-button" ng-click="signup(user)">SIGN UP</button>
                </div>
              </div>
            </form>
          </div>
          
          <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <footer class="footer fixed-bottom">
        <p class="text-center">&copy 2018 CARDS FOR HUMANITY Inc</p>
      </footer>
      </section>
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>     
    </body>
  </html>