<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro|Berkshire+Swash|VT323">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login-style.css">
    <title>Cards for humanity&nbsp|&nbspLogin</title>
</head>

<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#!" style="color: red;">CARDS FOR HUMANITY</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#!">HOME</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#!/signup">SIGN UP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="main-banner">
        <div>
            <div class="wrapper">
                <div class="container">
                    <h1>SIGN IN</h1>

                    <form class="form" ng-controller="AuthenticationController">
                        <div class="control-group">
                            <label for="email" class="control-label"></label>
                            <div class="controls">
                                <input type="text" placeholder="Email" ng-model="user.email">
                            </div>
                        </div>
                        <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[0] }}</p>
                        <div class="control-group">
                            <label for="password" class="control-label"></label>
                            <div class="controls">
                                <input type="password" placeholder="Password" ng-model="user.password">
                            </div>
                        </div>
                        <p ng-show="validationErrorExists()" class="error-alert">{{ validationErrorMessage[1] }}</p>
                        <div>
                            <button type="submit" id="login-button" ng-click="login()">SIGN IN</button>
                        </div>
                        <h2 id="slogan">Or Sign In with </h2>
                        <div>
                            <a href="/auth/facebook">
                                <img src="../img/icons/facebook.jpg" height='40' width="40" alt='facebook' class="login-item ">
                            </a>
                            <a href="/auth/twitter">
                                <img height='40' width="40" alt='twitter' class="login-item" src="./img/icons/twitter.jpg">
                            </a>
                            <a href="/auth/google">
                                <img height='40' alt='google' class="login-item " src="./img/icons/google.png">
                            </a>
                        </div>
                    </form>
                </div>
                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <footer class="footer fixed-bottom">
            <p class="text-center">&copy 2018 CARDS FOR HUMANITY Inc</p>
        </footer>
    </section>
</body>

</html>
