#main-banner {
  background-image:linear-gradient(to bottom, rgba(8, 5, 56, 0.68), rgba(8, 5, 56, 0.68)), url(../img/icons/jumbo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px;
  position: fixed;
  display: block;
  width:auto;
  height:100vh;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  

}
li > a {
  color: #150366;
}

.main-banner-text {
  margin-top: 250px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid rgb(123, 90, 128);
  
  padding-bottom: 100px;
}
#main-banner .main-banner-text > h1 {
  color: white;
} 
.lead {
  color: white;
  font-family: VT323;
  font-size: 40px;
  text-align: center;
  margin-top: 5px;
  
  position: relative;

} 
.jumbotron .container {
  max-width: 40rem;
  padding: 2rem;
}

.jumbotron p {
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.header {
  font-family: Berkshire Swash;
  font-size: 70px;
  text-align: center;
  position: relative;
}
img, .embed-responsive {
  margin-bottom: 30px;
  }

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px; 
  opacity: 1;
}

/*          Hero Headers        */
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/*       Slides backgrounds     */
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: linear-gradient(to bottom right,#494848d5,#5c5a5ab7), url(ba876a70f4ad11e4bcedf23c91709c91_1430998772.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: linear-gradient(to bottom right,#494848d5,#5c5a5ab7), url(CEZyhjdWgAAFynR.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: linear-gradient(to bottom right,#494848d5,#5c5a5ab7), url(c4cd6b9cf4ad11e4bcedf23c91709c91_1430998789.jpg);
}

/*          Media Queries       */
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

  .navbar-custom {
    
        background-color: rgba(170, 168, 168, 0.9);
      }
      #nav {
        background-color: transparent;
      }
  
      .nav-link {
        color: white;
        font-family: 'bad script';
        font-weight: bold;
      }
      .nav-link:hover {
        color: black;
      }
      .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 60px; /* Set the fixed height of the footer here */
          line-height: 60px; /* Vertically center the text there */
          background-color: white;
          color:#150366;
        }
